@import "tailwindcss";

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.kg-width-wide,
.kg-width-full {
  margin-left: auto;
  margin-right: auto;
}

.kg-width-wide img {
  max-width: 85vw;
  width: auto;
}

.kg-width-full img {
  max-width: 100vw;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

/* A little extra style for the post content if not using @tailwindcss/typography */
.post-content h3 {
    @apply text-2xl font-bold mt-10 mb-4;
}
.post-content p {
    @apply mb-6;
}
.post-content blockquote {
    @apply my-10 border-l-4 border-gray-800 pl-6 italic text-2xl font-serif text-gray-900;
}
.post-content blockquote cite {
    @apply block not-italic text-base text-gray-600 mt-2;
}

/* Table of Contents Styles */
.toc-title {
    align-items: center;
    color: var(--color-contrast);
    display: flex;
    flex: 1 0 0%;
    font-weight: var(--font-weight-semibold);
    gap: var(--spacing-4);
    margin-bottom: var(--spacing-7)
}

.toc-title>svg {
    flex: 0 0 auto
}

.toc {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-small);
    gap: 0 var(--spacing-2)
}

.toc ul {
    line-height: 1.3;
    list-style: none;
    margin: 0;
    padding-left: var(--spacing-4)
}

.toc>ul {
    box-shadow: inset 2px 0 0 var(--color-border);
    flex: 0 0 100%;
    overflow: hidden;
    padding-left: var(--spacing-3);
    position: relative
}

.toc>ul:before {
    background-color: var(--color-contrast);
    bottom: 100%;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    transform: translateY(var(--toc--scroll-progress)) scaleY(calc(var(--toc--link-height)/10));
    transform-origin: bottom;
    transition: transform .3s ease;
    width: 2px
}

.toc a {
    color: var(--color-foreground);
    display: block;
    font-weight: var(--font-weight-medium);
    outline-offset: calc(var(--spacing-1)*-1);
    padding: var(--spacing-3) var(--spacing-5);
    text-decoration-color: transparent
}

.toc a.active,.toc a:focus,.toc a:hover {
    color: var(--color-contrast)
}

.toc a.active {
    text-decoration-color: var(--color-contrast)
}

.toc-button {
    display: none;
    flex: 0 0 auto
}

.toc-unlock-link a {
    align-items: center;
    display: flex;
    gap: .4em
}

.toc-unlock-link svg {
    height: 1em;
    min-width: 1em;
    width: 1em
}

.toc-hidden,.toc>.toc-unlock-link {
    display: none
}

.toc-content {
    border: 1px solid var(--color-border);
    border-radius: var(--radius-4);
    font-size: var(--font-small);
    margin-bottom: var(--spacing-9);
    overflow: hidden;
    padding: var(--spacing-3) var(--spacing-4);
    position: relative;
    transition: height .3s ease
}

.toc-content>ul {
    box-shadow: none;
    padding: var(--spacing-3) 0 var(--spacing-2)
}

.toc-content>ul:before {
    display: none
}

.toc-content .toc-title {
    margin-bottom: 0
}

.toc-content .toc-title>svg {
    display: none
}

.toc-content .toc-button {
    display: flex;
    position: static
}

.toc-content .toc-button:before {
    bottom: 0;
    content: "";
    left: 0;
    max-height: 2.875rem;
    position: absolute;
    right: 0;
    top: 0
}

.toc-content .toc-button[aria-expanded=false]~ul {
    display: none
}

@media (max-width: 991px) {
    .toc {
        border:1px solid var(--color-border);
        border-radius: var(--radius-4);
        font-size: var(--font-small);
        margin-bottom: var(--spacing-9);
        overflow: hidden;
        padding: var(--spacing-3) var(--spacing-4);
        position: relative;
        transition: height .3s ease
    }

    .toc>ul {
        box-shadow: none;
        padding: var(--spacing-3) 0 var(--spacing-2)
    }

    .toc>ul:before {
        display: none
    }

    .toc .toc-title {
        margin-bottom: 0
    }

    .toc .toc-title>svg {
        display: none
    }

    .toc .toc-button {
        display: flex;
        position: static
    }

    .toc .toc-button:before {
        bottom: 0;
        content: "";
        left: 0;
        max-height: 2.875rem;
        position: absolute;
        right: 0;
        top: 0
    }

    .toc .toc-button[aria-expanded=false]~ul {
        display: none
    }
}
